<section class="content-header">
    <h1>
        Main Dashboard <br/>
        <small>Still working on</small>
    </h1>
</section>
<!-- Main content -->
<section class="content">

    <div class="col-md-3">
        <h2>Register</h2>
        <p>Create a new account now</p>
        <p><a class="btn btn-success" href="http://angularjs.org/">View details &raquo;</a></p>
    </div><!--/span-->
    <div class="col-md-3">
        <h2>Test</h2>
        <p>Test</p>
        <p><a class="btn btn-warning" href="#restart/">View details &raquo;</a></p>
    </div><!--/span-->

</section><!-- /.content -->



